<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Employee</title>
</head>

<body>

	<div class="container">
	
		<h3>Films Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Employee</p>
	
		<form action="#" th:action="@{/films/save}"
						 th:object="${film}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{film_name}"
					class="form-control mb-4 col-4" placeholder="Film name">

			<input type="text" th:field="*{genre}"
					class="form-control mb-4 col-4" placeholder="Genre">

			<input type="text" th:field="*{description}"
					class="form-control mb-4 col-4" placeholder="Description">
					
			<input type="text" th:field="*{production_time}"
					class="form-control mb-4 col-4" placeholder="Production time">
					
			<input type="text" th:field="*{film_length}"
					class="form-control mb-4 col-4" placeholder="Film length">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/films/list}">Back to films List</a>
		
	</div>
</body>

</html>










